@model GamingWeb.Custom.Models.User.User
@{
    var language = new GamingWeb.Custom.Helpers.LanguageHelper(Context);
    Layout = null;
}

<script>
    function submitNewPassword() {
        console.log($("#Password").val(), $("#repeatPSW").val());
        var form = $("#changePasswordForm");

        if ($("#Password").val().length === 0) {
            document.getElementById("passwordCanNotBeEmpty").classList.remove("d-none");
            document.getElementById("passwordsDoNotMatch").classList.add("d-none");
        }
        else if ($("#Password").val() == $("#repeatPSW").val()) {
            var notificationWidget = $("#notification").data("kendoNotification");

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangePassword", "Users")',
                    data: form.serialize(), // serializes the form's elements.
                    success: function (data) {
                        console.log(data.success);
                        if (data.success == "notSame") {
                            document.getElementById("passwordsDoNotMatch").classList.remove("d-none");
                        }
                        else if (data.success == "true") {
                            $("#changePasswordWindow").data("kendoWindow").close();
                            notificationWidget.show("Fjalëkalimi u ndryshua me sukses!", "success");
                        }
                        else {
                            $("#changePasswordWindow").data("kendoWindow").close();
                            notificationWidget.show("Ka ndodhur një gabim! Ju lutem provoni përsëri!", "error");
                        }
                    }
                });
        }
        else {
            document.getElementById("passwordsDoNotMatch").classList.remove("d-none");
            document.getElementById("passwordCanNotBeEmpty").classList.add("d-none");
        }
    }
</script>

<form method="post" id="changePasswordForm">
    <input type="hidden" asp-for="Id" />

    <label>@language.Get("TypeNewPassword")</label>
    <input class="w-100 form-control" asp-for="Password" type="password" />

    <label>@language.Get("RepeatPassword")</label>
    <input class="w-100 form-control" id="repeatPSW" type="password" />

    <span id="passwordsDoNotMatch" class="d-none text-danger pt-2">@language.Get("PasswordsDoNotMatch")</span>
    <span id="passwordCanNotBeEmpty" class="d-none text-danger pt-2">@language.Get("PasswordCanNotBeEmpty")</span>

    <div class="btn btn-info w-100 mt-5 mb-3" type="button" onclick="submitNewPassword()">@language.Get("Save")</div>
</form>