@using Kendo.Mvc.UI;
@using GamingWeb.Custom.Models;
@model GamingWeb.Custom.Models.News.News;
@{
    var language = new GamingWeb.Custom.Helpers.LanguageHelper(Context);
    var curLang = language.Current();
    Layout = null;
}

@*<script>
    function sync_handler(e) {
        console.log('e');
        e.sender.read();
    }
    function success(e) {
        var filePath = e.response.FileUrl;

        $("#Photo").val(filePath).trigger("change");
    }
</script>*@

<script>
    function success(e) {
        var filePath = e.response.FileUrl;
        var existingURLs = $("#Photo").val()
        if (existingURLs == null || existingURLs == "") {
            existingURLs = "";
        }
        var final = existingURLs + ';' + filePath;
        console.log(final);

        $("#Photo").val(final).trigger("change");
        //console.log(existingURLs);
    }
</script>




<form asp-action="AddArticle" method="post" id="articleFormID">

    <div class="row mt-2 pb-3">
        <div class="col-3 d-flex">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("TitleSq")</label>
        </div>

        <div class="col">
            @(Html.Kendo().TextBoxFor(m => m.TitleSq)
                .HtmlAttributes(new { @class = "w-100 form-control", style = "height:40px", required = "required", validationmessage = language.Get("PleaseFillOutThisField") }))
        </div>
    </div>

    <div id="example" class="demo-section wide editor pt-4 pb-6">
        <div class="pb-4">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("ContentSq")</label>
        </div>

        @(Html.Kendo().EditorFor(m => m.ContentSq)
            .HtmlAttributes(new { @class = "form-control", style = "width: 100%; height:440px ", aria_label = "editor", required = "required", validationmessage = language.Get("PleaseFillOutThisField") })
            .StyleSheets(css => css
            .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
            )
            .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline()
            .JustifyLeft().JustifyCenter().JustifyRight()
            .InsertUnorderedList().InsertOrderedList()
            .Outdent().Indent()
            .CreateLink().Unlink()
            )
            )
    </div>


    <div class="row mt-2 pb-3 pt-5">
        <div class="col-3 d-flex">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("TitleEn")</label>
        </div>

        <div class="col">
            @(Html.Kendo().TextBoxFor(m => m.TitleEn)
                .HtmlAttributes(new { @class = "w-100 form-control", style = "height:40px", required = "required", validationmessage = language.Get("PleaseFillOutThisField") }))
            <span class="text-danger"></span>
        </div>
    </div>

    <div id="example" class="demo-section wide editor pt-4 pb-6">
        <div class="pb-4">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("ContentEn")</label>
        </div>

        @(Html.Kendo().EditorFor(m => m.ContentEn)
            .HtmlAttributes(new { @class = "form-control", style = "width: 100%; height:440px", aria_label = "editor", required = "required", validationmessage = language.Get("PleaseFillOutThisField") })
            .StyleSheets(css => css
            .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
            )
            .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline()
            .JustifyLeft().JustifyCenter().JustifyRight()
            .InsertUnorderedList().InsertOrderedList()
            .Outdent().Indent()
            .CreateLink().Unlink()

            )
            )
    </div>



    <div class="row mt-2 pb-3 pt-5">
        <div class="col-3 d-flex">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("TitleSr")</label>
        </div>
        <div class="col">
            @(Html.Kendo().TextBoxFor(m => m.TitleSr)
                .HtmlAttributes(new { @class = "w-100 form-control", style = "height:40px", required = "required", validationmessage = language.Get("PleaseFillOutThisField") }))
            <span class="text-danger"></span>
        </div>
    </div>

    <div id="example" class="demo-section wide editor pt-4 pb-6">
        <div class="pb-4">
            <label style="font-weight: 500; font-size: 1rem; margin: 0; align-self: center;">@language.Get("ContentSr")</label>
        </div>

        @(Html.Kendo().EditorFor(m => m.ContentSr)
            .HtmlAttributes(new { @class = "form-control", style = "width: 100%; height:440px", aria_label = "editor", required = "required", validationmessage = language.Get("PleaseFillOutThisField") })
            .StyleSheets(css => css
            .Add(Url.Content("~/Content/web/Editor/editorStyles.css"))
            )
            .Tools(tools => tools
            .Clear()
            .Bold().Italic().Underline()
            .JustifyLeft().JustifyCenter().JustifyRight()
            .InsertUnorderedList().InsertOrderedList()
            .Outdent().Indent()
            .CreateLink().Unlink()

            )
            )
    </div>


    <div class="row d-flex pt-6">


        <div class="form-group col-6">
            <label for="formGroupExampleInput2">@language.Get("NewsDate")</label>

            @(Html.Kendo().DateTimePickerFor(m => m.NewsDate)
                .Format("dd/MM/yyyy")
                .Value($"{DateTime.Now.ToString("dd/MM/yyyy")}")
                .HtmlAttributes(new { @class = "form-control w-100", required = "required", validationmessage = language.Get("PleaseFillOutThisField") })
                )
        </div>


        <div class="form-group col-6">
            <label for="formGroupExampleInput2">@language.Get("ReleaseDate")</label>

            @(Html.Kendo().DateTimePickerFor(m => m.ReleaseDate)
                .Format("dd/MM/yyyy")
                .Value($"{DateTime.Now.ToString("dd/MM/yyyy")}")
                .HtmlAttributes(new { @class = "form-control w-100", required = "required", validationmessage = language.Get("PleaseFillOutThisField") })
                )
        </div>


        <div class="form-group col-6 pt-5">
            <label for="formGroupExampleInput2">@language.Get("Expire")</label>

            <div class="col">
                @(Html.Kendo().CheckBoxFor(m => m.Expire)
                    .HtmlAttributes(new { @class = "k-checkbox form-control" }))
            </div>
        </div>

        <div class="form-group col-6 pt-5">
            <label for="formGroupExampleInput2">@language.Get("ExpireDate")</label>

            @(Html.Kendo().DateTimePickerFor(m => m.ExpireDate)
                .Format("dd/MM/yyyy")
                .Value($"{DateTime.Now.ToString("dd/MM/yyyy")}")
                .HtmlAttributes(new { @class = "form-control w-100" })
                )

            <span id="ExpireDateRequired" class="text-danger d-none">Please fill out this field</span>
        </div>

        <div class="form-group col-6 pt-5">
            <label for="formGroupExampleInput2">@language.Get("Place")</label>
            <div class="col">
                @(Html.Kendo().TextBoxFor(m => m.Place)
                    .HtmlAttributes(new { @class = "w-100 form-control", style = "height:40px", required = "required", validationmessage = language.Get("PleaseFillOutThisField") }))
                <span class="text-danger" asp-validation-for="Place"></span>
            </div>
        </div>




        <div class="form-group col-6 pt-5">
            <label for="formGroupExampleInput2">@language.Get("Photo")</label>
            @*@(Html.Kendo().Upload()
            .Name("FileUrl")
            .Multiple(false)
            .Async(a => a
            .Save("SaveFile", "News")
            .AutoUpload(true)
            )
            .Multiple(true)
            .HtmlAttributes(new {@class = "form-control", accept = ".jpg,.png",  validationmessage = language.Get("PleaseFillOutThisField") })
            .Events( e => e.Success("success"))
            )*@
            @(Html.Kendo().Upload()
                .Name("FileUrl")
                .Async(a => a
                .Save("SaveFile", "News")
                .AutoUpload(true)
                )
                .Multiple(true)
                .HtmlAttributes(new { @class = "form-control", accept = ".jpg,.png" })
                .Events(e => e.Success("success"))
                )

            <input type="hidden" asp-for="Photo" required="required" validationmessage="@language.Get("PleaseFillOutThisField")" />
        </div>
    </div>

    <input type="button" value="Submit" onclick="submitForm();" class="btn btn-primary w-100 mt-6" />
</form>


<script>
    function submitForm() {
        var validator = $("#articleFormID").kendoValidator(
            {
                messages: { required: '@Html.Raw(language.Get("PleaseFillOutThisField"))' }
            }).data("kendoValidator");

        //Make Expire date mandatory if article expires
        var expires = $('#Expire').is(':checked');;
        var expireDateEmpty = $("#ExpireDate").val() == "" || $("#ExpireDate").val() == null;

        if (!validator.validate() || (expires == true && expireDateEmpty == true)) {
            if (expires == true && expireDateEmpty == true) {
                document.getElementById("ExpireDateRequired").classList.remove("d-none");
            }
            else {
                document.getElementById("ExpireDateRequired").classList.add("d-none");
            }
        }
        else {
            document.getElementById("ExpireDateRequired").classList.add("d-none");
            Swal.fire({
      title: 'Dëshironi ta ruani artikullin?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: '@language.Get("Yes")',
      cancelButtonText: '@language.Get("Cancel")'
   }).then((result) => {
    if (result.isConfirmed) {
       $('#articleFormID').submit();
    }
   })
        }
    }
</script>
<style>
    .swal2-container{
        z-index:10008;
    }
</style>