@using Kendo.Mvc.UI
@using GamingWeb.Custom.Helpers
@using GamingWeb.Custom.Models
@model GamingWeb.Custom.Models.Sector.Sector;
@{
    var language = new LanguageHelper(Context);
    //int departmentsAccess = new AuthorizeHelper(Context).GetPrivilegeLevel((int)Views.Departments);
    List<SelectListItem> department;
    if (language.CurrentCulture == "sq-AL")
    {
        department = ViewBag.DepartmentsSq;

    }
    else if (language.CurrentCulture == "en-US")
    {
        department = ViewBag.DepartmentsEn;
    }
    else
    {
        department = ViewBag.DepartmentsSr;
    }
}

<script>
    function sync_handler(e) {
        e.sender.read();
    }

    function openAdd(e) {
        var w = $("#addSector").data("kendoWindow");
        w.refresh({
            url: '@Url.Action("AddWindow", "Sectors")'
        });
        w.open();
    }

    function onClose() {

        window.location.reload();

    }

    function openEdit(e) {
        var w = $("#editSector").data("kendoWindow");
        w.refresh({
            url: '@Url.Action("EditWindow", "Sectors")' + '?sectorId=' + this.dataItem(jQuery(e.currentTarget).closest("tr")).Id
        });
        w.open();
    }
</script>
<style>
    div.k-edit-form-container {
        width: 100% !important;
    }

    div.k-widget.k-window.k-display-inline-flex {
        left: 0px !important;
    }
</style>
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">@language.Get("Sector")</h2>

    </div>

</div>
@(
Html.Kendo().Grid<GamingWeb.Custom.Models.Sector.Sector>()
                .Name("gridCategories" + Guid.NewGuid().ToString())
                .Columns(columns =>
                {
                    columns.Bound(p => p.Id).Hidden(true);
                    columns.Bound(p => p.NameEn).Title(language.Get("SectorNameEn"));
                    columns.Bound(p => p.NameSq).Title(language.Get("SectorNameSq"));
                    columns.Bound(p => p.NameSr).Title(language.Get("SectorNameSr"));
                    columns.Bound(p => p.Code).Title(language.Get("Code"));
                    //columns.ForeignKey(p => p.CategoryId, (System.Collections.IEnumerable)ViewBag.Categories, "Key", "Value").Title(language.Get("Institution"));
                    //if (departmentsAccess == (int)RoleAccessLevels.FullAccess)
                    //{
                    columns.Command(c => { c.Custom("edit-sector").Text("<i class='k-icon k-i-edit'></i>" + language.Get("Edit")).Click("openEdit"); })
                    .Width(150);
                    columns.Command(c => c.Destroy().IconClass("k-icon k-i-delete").Text(language.Get("Delete")))
                    .Width(150);
                //}
                })
                .ToolBar(tools =>
                {
                    //if (departmentsAccess == (int)RoleAccessLevels.FullAccess)
                    //{
                    tools.Custom().HtmlAttributes(new { onclick = "openAdd()" }).Text("<i class='k-icon k-i-plus'></i>" + language.Get("Add"));
                //}
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Pageable(pager => pager.Refresh(true).PageSizes(new[] { 10, 20, 30 }).Refresh(true))
                .Sortable()
                .Scrollable()
                .Filterable()
                .Resizable(resize => resize.Columns(true))
                .HtmlAttributes(new { style = "height:800px;" })
                .DataSource(dataSource => dataSource
                .Ajax()
                .Events(e => e.Sync("sync_handler"))
                .PageSize(20)
                .Model(model =>
                {
                    model.Id(p => p.Id);

                })
                .Read(read => read.Action("Read_Sectors", "Sectors"))
                .Update(update => update.Action("CreateUpdateSector", "Sectors"))
                .Create(create => create.Action("CreateUpdateSector", "Sectors"))
                .Destroy(destroy => destroy.Action("DeleteSector", "Sectors"))
                )
)
@(Html.Kendo().Window()
    .Name("addSector")
    .Content(@<text> </text>)
    .Draggable()
    .Resizable()
    .Position(p => p.Top(0))
    .Visible(false)
    .Modal(true)
    .Actions(actions => actions.Close())
    .Events(ev => ev.Close("onClose"))
    )
@(Html.Kendo().Window()
    .Name("editSector")
    .Content(@<text> </text>)
    .Draggable()
    .Resizable()
    .Position(p => p.Top(0))
    .Visible(false)
    .Modal(true)
    .Actions(actions => actions.Close())
    )